<header id="Top">
  <div class="breakpoint-info" style="position: fixed;bottom: 10px;right: 10px;padding: 1em;color: #001022;background-color: #d3b394;z-index: 1;"></div>
  <div class="parallax-header">
    <button class="btn btn-primary">Sign the letter</button>
    <h1 class="text-center">Make Fishing Fair</h1>
  </div>
  <div class="photo-credits">Photocredits go here</div>
</header>
