<div class="row">
  <div class="col-12">
    <p>About signatories: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris posuere, tellus sed aliquet tristique, orci dolor consequat nunc, eget placerat tellus lectus sed erat. Donec scelerisque, dui et dapibus sollicitudin, tortor magna lacinia metus, sit amet efficitur metus erat in justo.</p>
    <a href="mailto:info@makefishingfair.org?subject=Why we would like to become a make fishing fair signatory" target="_" aria-label="Link to email to become a signatory">
      <button type="button" class="btn btn-primary">Email us to become a signatory</button>
    </a>
    <h2 class="mt-2">These organisations have signed their support for the make fishing fair open letter:</h2>
    <ul>
      <% @signatories.each do |signatory| %>
        <div class="signatory">
          <div class="image">
            <%= image_tag(signatory.logo.variant(:signatory_list), alt: "Logo for #{signatory.name}") if signatory.logo.attached? %>
          </div>
          <div class="name">
            <%= signatory.name %>
          </div>
        </div>
      <% end %>
    </ul>
  </div>
</div>

<style>
  .signatory .image {
    width: 150px;
    height: 150px;
    display: inline-block;
  }

  .signatory .name {
    padding-left: 1em;
    display: inline-block;
    vertical-align: top;
  }
</style>
