<div class="row signatories-section">
  <div class="col">
    <a href="mailto:elsa.pullman@blueventures.org?subject=I want to sign the Make Fishing Fair open letter"
       style="text-decoration: none"
       target="_"
       aria-label="Link to email to become a signatory"
    >
      <button type="button" class="btn btn-primary wide-button">Sign the letter</button>
    </a>

    <div class="signed-by">Signed by</div>
    <ul>
      <% @signatories.each do |signatory| %>
        <li><%= signatory.name %></li>
      <% end %>
    </ul>
  </div>
</div>