<div class="row signatories-section">
  <div class="col">
    <a href="mailto:elsa.pullman@blueventures.org?subject=Why we would like to become a make fishing fair signatory"
       style="text-decoration: none"
       target="_"
       aria-label="Link to email to become a signatory"
    >
      <button type="button" class="btn btn-primary wide-button">Sign the letter</button>
    </a>

    <h2 class="mt-2">This letter is signed by:</h2>
    <ul>
      <% @signatories.each do |signatory| %>
        <li><%= signatory.name %></li>
      <% end %>
    </ul>
  </div>
</div>