<div class="row">
  <div class="col-12">
    <h2>Signatories list</h2>
    <ul>
      <% @signatories.each do |signatory| %>
        <li><%= signatory.name %></li>
      <% end %>
    </ul>
  </div>
</div>

