<div class="row signatories-section">
  <div class="col">
    <div class="signed-by">Signed by</div>
    <ul>
      <% @signatories.each do |signatory| %>
        <li><%= signatory.name %></li>
      <% end %>
    </ul>
  </div>
</div>