<h2>Supporting organisations</h2>
<div class="card-columns">
  <% @supporting_organisations.each do |supporting_organisation| %>
    <div class="card mr-2 mb-2 shadow" style="width: 14rem; display: inline-block;">
      <%= image_tag supporting_organisation.logo.variant(:fixed_height), class: "card-img-top", style: "max-height: 200px;", alt: "logo" %>
      <div class="card-body">
        <p class="card-text"><%= supporting_organisation.name %></p>
      </div>
    </div>
  <% end %>
</div>
