<div class="container-float shadow rounded text-muted bg-light">
  <h5 class="ps-5">Supporting organisations:</h5>
  <div class="logo-carousel">
    <% supporting_organisations.each do |supporting_organisation| %>
      <%= render partial: "supporting_organisation_carousel_image", locals: { supporting_organisation: supporting_organisation } %>
    <% end %>
  </div>
</div>

<script>
  function setup_slider() {
    var slider = tns({
        container: '.logo-carousel',
        items: 1, // smallest screen size
        slideBy: 1,
        gutter: 0,
        edgePadding: 0,
        arrowKeys: true,
        autoplay: true,
        controlsText: ['&lt;', '&gt;'],
        autoplayTimeout: 1500,
        autoplayHoverPause: true,
        nav: false,
        responsive: {
          740: {
            items: 2
            },
          1110: {
            items: 3
          }
        }
      });
  };

  setup_slider();
</script>
