<div class="container shadow rounded text-muted bg-light">
  <h1 class="justify-content-center">Make Fishing Fair Open Letter</h1>
  <%= markdown_render(@page_introduction_content) %>
  <%= markdown_render(@open_letter_content) %>
  <%= render partial: "signatories", locals: { signatories: @signatories } %>
  <%= render partial: "supporting_organisations", locals: { supporting_organisations: @supporting_organisations, logo_variant: @logo_variant } %>
</div>
