<div class="container shadow rounded text-muted full-page mt-2" id="open-letter">
  <p class="p-3 pb-1">Rails is in <%= Rails.env %> mode.</p>
  <p class="p-3 pt-0">Revision is <%= `cat #{Rails.root.join("REVISION")}` %></p>
</div>