.parallax-header {
  background-color: #0e77a8 !important;
  background: image-url("PORTUGAL_1.92.1.jpg");
  background-position: top;
  background-size: auto 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20em;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .breakpoint-info:after {
    content: " -sm"
  }

  .parallax-header {
    height: 26em !important;

    .header-content {
      bottom: 25% !important;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .breakpoint-info:after {
    content: " -md"
  }

  .parallax-header {
    background-position-y: -60px !important;
    height: 26em !important;

    .header-content {
      bottom: 20% !important;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .breakpoint-info:after {
    content: " -lg"
  }

  .parallax-header {
    height: 30em !important;

    .header-content {
      bottom: 15% !important;
    }
  }
}  

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .breakpoint-info:after {
    content: " -xl"
  }

  .parallax-header {
    height: 32em !important;
  }
}  

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .breakpoint-info:after {
    content: " -xxl"
  }

  .parallax-header {
    height: 35em !important;
    background-position-y: -130px !important;
  }
}  

.open-letter-content {
  background: image-url("fishing_backdrop_alt.jpg");
}

