.parallax-header {
  background: image-url("PORTUGAL_1.92.1.jpg");
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .breakpoint-info:after {
    content: " -sm"
  }

  .open-letter-content {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .breakpoint-info:after {
    content: " -md"
  }

  .parallax-header {
    height: 25em !important;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .breakpoint-info:after {
    content: " -lg"
  }

  .parallax-header {
    height: 30em !important;
  }
}  

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .breakpoint-info:after {
    content: " -xl"
  }

  .parallax-header {
    height: 32em !important;
  }
}  

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .breakpoint-info:after {
    content: " -xxl"
  }

  .parallax-header {
    height: 35em !important;
    // background-position-y: -130px !important;
  }
}  
